<!-- BEGIN css -->
@CHARSET "UTF-8";

html {
	font-size: 16px;
	font-family: sans-serif;
}

#studentList td {
	width: 150px;
	width: 9.375rem;
	padding-top: 4px;
	padding-top: 0.25rem;
	padding-bottom: 4px;
	padding-bottom: 0.25rem;
}

#studentList td:nth-child(even) {
	background: red;
}

#studentList tr:nth-child(odd) {
	background: grey;
}

.Visible {
	display: block;
}

.Invisible {
	display: none;
}

<!-- END css -->