@CHARSET "UTF-8";
html {
	font-size: 14px;
	font-family: sans-serif;
}
#frame {
	border: 7px solid #ffff33;
	padding: 8px;
	margin-bottom:80px;
}
#found{
	float: right; 
	margin-right:160px;
	margin-top:80px;
	display:none;
}
#notFound{ 
	display:none;
}
#dataChanged{ 
	display:none;
}
