@CHARSET "UTF-8";
table {
	border-collapse: collapse;
}
table, th, td {
	border: solid thin;
}
colgroup, tbody {
	border: solid thin;
}

td {
	border: solid thin;
	height: 2.5em;
	width: 10.5em;
	text-align: center;
	padding: 0;
}

.Nimetus {
	background-color: #ff99cc;
}