@CHARSET "UTF-8";

body {
	background-color: #CCFF99;
	font-family: "Verdana", Georgia, Times;
}

td {
	border: 3px solid red;
	padding: 12px;
	background-color: gray;
	text-align: center;
	color: white;
	font-size:23px;
	font-family: "Georgia";
}

select {
	margin: 0 auto;
	display: block;
	width: 300px
}

h1 {
	text-align: center
	
}
table {
	width:100%
}