@CHARSET "UTF-8";

html {
	font-size: 16px;
	font-family: 'Istok Web', sans-serif;
	color: black;
	
}

body {
	background-size: cover;
	background-color: white;
	position: center;
	text-align: center;
}
h1
{
	font-family: 'Istok Web', sans-serif;
	font-size: 40px;
	color: #775ba3;
}
div.suur {
	width: 900px;
	height: 298px;
	background-image: url('../images/Alus.jpg');
}
div.vaike
{
	width: 890px;
	width: 55.625rem;
	height: 39px;	
	height: 2.438rem;
	background-color: #775ba3;
	padding-left: 5px;
	padding-left: 0.313rem;
	padding-right: 5px;
	padding-right: 0.313rem;
}
div.logo
{
	width: 73px;
	width: 4.563rem;
	height: 26px;
	height: 1.625rem;
	background-image: url('../images/1logo.png');
	float: left;
}
div.nupud
{
	float: right; 
}	
div.nupp
{
	
	width: 12px;
	width: 0.750rem;
	height: 39px;	
	height: 2.438rem;
	float: left;
	background-repeat: no-repeat;
	cursor: pointer;

}

div.nupp1
{
	background-image: url('../images/1nupp.png');
	margin-right: 5px;
	margin-right: 0.313rem;
}
div.nupp2
{
	background-image: url('../images/nupp2.png');
	margin-right: 5px;
	margin-right: 0.313rem;
}
div.nupp3
{
	background-image: url('../images/nupp3.png');
}

div.lingid
{
	margin-left: 57px;
	margin-left: 3.563rem;
	height: 39px;	
	height: 2.438rem;
	float: left;
}
a.link
{
	line-height: 39px;	
	line-height: 2.438rem;
	float: left;
	padding-left: 8px;
	padding-left: 0.500rem;
	padding-right: 8px;
	padding-right: 0.500rem;
	color: white;
	font-family: Sans;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
}
div.leht
{
	margin: 0 auto; 
	width: 900px;
	width: 56.250rem;
	
}
div.sisu {
	display: inline-block;
	left: 50%;
	top: 200px;
	width: 100%;
	padding-bottom: 30px;
	text-align: center;
	max-width: 60%;
	font-family: 'Istok Web', sans-serif;
}
a.active
{
	border-bottom: 2px solid #f8e1b4;
}

