@CHARSET "UTF-8";

div {
	overflow: auto;
}

#container {
	width: 618px;
	height: 359px;
	background: url('../img/container_bg.jpg') left top;
	position: relative;
}

.ribbon {
	position: absolute;
	top: 170px;	
	background: #382f28;
	width: 40px;
	height: 30px;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

#ribbon-right {
	right: 0;
}

#outer_border {
	background: #FFF;
	height: 309px;
	width: 568px;
	margin: 25px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

#main_bg {
	width: 546px;
	height: 287px;
	border: 1px solid gold;
	margin: 10px;
}

#title,
#candles {
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}

#title {
	position: relative;
	top: 10px;
	border-bottom: 1px solid gold;
	padding-bottom: 10px;
	z-index: 5;
}

#title h1 {
	text-align: center;
	font-weight: normal;
	font-size: 26px;
	font-family: 'Times New Roman', serif;
	color: #666;
}

#candle_1 {
	position: relative;
	top: 12px;
}