@CHARSET "UTF-8";
Body
{
	font-size:22px;
	background-color: #ffffff;
	text-align: center; 
	color: #800080;
	font-family: 'Poiret One', cursive;

}
h1
{
	color: white;
	font-family: 'Shadows Into Light Two', cursive;
	background-image: url("IMG_7668_1.jpg");
	background-position: left;
	background-width:800;
	background-height:533
}
h2
{
	color: #880088;
	font-family: 'Shadows Into Light Two', cursive
}
h3
{
text-align: center
}

a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    background-color: #aaaaaa;
    color: #c100c1;
    border-style: outset;
    font-weight: bold
}

img
{
	height: 400px;
    width: 300px
	
}
