@CHARSET "UTF-8";
/*#found { 
display:none;
}

#notFound { 
display:none;
}

#dataChanged { 
display:none;
}
/*#searchButton{
	display:none;
}*/
#insertName{
	border: 2px solid green;
}
/*#searchButton{
	border: 2px solid green;
}*
/*.Move{
  width: 800px ;
  margin-left: auto ;
  margin-right: auto 
}*/


