@CHARSET "UTF-8";

@import url("html-css-examples.css");
/* Shadow */
.ShadowTopRight {
	box-shadow: 64px -16px teal;
	box-shadow: 4em -1em teal;
}

.ShadowBlurred {
	box-shadow: 8px 4px 4px black;
	box-shadow: 0.5rem 0.25rem 0.25rem black;
}

.ShadowSpread {
	box-shadow: 8px 4px 4px 4px black;
	box-shadow: 0.5rem 0.25rem 0.25rem black;
}

.ShadowInset {
	box-shadow: inset 2px 2px gold;
	box-shadow: inset 0.125rem 0.125rem gold;
}

.ShadowMultiple {
	box-shadow: 4px 4px red, -16px 0 8px olive;
	box-shadow: 0.25rem 0.25rem red, -1rem 0 0.5rem olive;
}
/* Box model */
.Box {
	background-color: aqua;
	overflow: hidden;
	width: 320px;
	width: 20rem;
	height: 160px;
	height: 10rem;
	padding: 16px 8px 4px 2px;
	padding: 1rem 0.5rem 0.25rem 0.125rem;
	border: thick solid maroon;
	margin: 16px 8px 4px 2px;
	margin: 1rem 0.5rem 0.25rem 0.125rem;
	white-space: pre-line;
}

.Floating {
	float: left;
}

.Clear {
	clear: left;
}
/* Overflow */
.Overflow {
	height: 40px;
	height: 2.5rem;
}

.OverflowVisible {
	overflow: visible;
}

.OverflowHidden {
	overflow: hidden;
}

.OverflowScroll {
	overflow: scroll;
}

.OverflowAuto {
	overflow: auto;
}