@CHARSET "UTF-8";

@import url("html-css-examples.css");

p {
	width: 480px;
	width: 30rem;
}

p.Contents {
	background-color: #FF9966;
	border: solid grey;
}

canvas {
	background: #fff;
	border-style: double;
	border-width: 3px;
	border-width: 0.188rem;
}
