@CHARSET "UTF-8";
tr>td:first-child
{
	background-color:red;
}

tr:nth-child(2n)
{
	background-color:white;
}
tr:nth-child(2n+1)
{
	background-color:#eee;
}
input:checked ~ label
{
	color:red;
}
td:nth-child(2n):first-letter
{
	font-size: 30px
}
td a[title*="R"]
{
	color: red;
	}
td a[title*="C"]
{
	color: red;
	}	
	td a[title*="D"]
{
	color: red;
	}
	td a[title*="T"]
{
	color: red;
	}