/*<!-- BEGIN css -->/**/

/*{AUTHOR}*/

@CHARSET "UTF-8";

html {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: "Times New Roman", Georgia, Serif;
}

body {
    height: 100%;
    width: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}
.coder {
    background: green;
}
td {
    padding: 16px;
    padding: 1rem;
}
.nameBg {
    background: #bbb;
}

table {
    background: #aaa;
}

div.form-container {
    height: 15%;
    min-height: 15%;
}

/*<!-- END css -->/**/
