@CHARSET "UTF-8";

body {
	background-color:#FFFAFA;
	font-size: 20px;
	text-align:center;
}

div.Index{
	margin: auto;
    padding: 10px;
}

img {
	padding:10px;
	border-color:red;
}

div.Poem {
    width: 150px;
    width: 10.71428571rem;
    height: 325px;
    height: 10.71428571rem;
    overflow: scroll;
}

div.rectangle {
	width: 10px;
	height: 300px;
	background: red;
	positin: fixed;
	margin-left: 150px;
	margin-left: 10.71428571rem;
}
	
div.rectangle2 {
	clear: both;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 60px;
	width: auto;
	background-color: red;
}
div.square1 {
	float: left;
	height: 40px;
	width: 40px;
	background-color: yellow;
	margin-left: 10px;
	margin-top: 0.71428571rem;
}
div.square2 {
	float: left;
	height: 40px;
	width: 40px;
	background-color: blue;
	margin-left: -20px;
	margin-top: 20px;
}
div.square3 {
	float: left;
	height: 40px;
	width: 40px;
	background-color: green;
	margin-left: -10px;
	margin-top: 10px;
}

div.retangles1 {
	width: 25%;
	height: 100px;
	background: red;
	display: inline-block;
  	float: left;
}

div.retangles2 {
	width: 25%;
	height: 100px;
	background: orange;
	display: inline-block;
  float: left;
}

div.retangles3 {
	width: 25%;
	height: 100px;
	background: purple;
	display: inline-block;
  	float: left;
}

div.retangles4 {
	width: 25%;
	height: 100px;
	background: green;
	display: inline-block;
  	float: left;
}

div.retangles5 {
	width: 25%;
	height: 100px;
	background: blue;
	clear:both;
	display: inline-block;
  	float: left;
}

div.retangles6 {
	width: 25%;
	height: 100px;
	background: black;
	display: inline-block;
  	float: left;
}

div.retangles7 {
	width: 25%;
	height: 100px;
	background: yellow;
	display: inline-block;
  	float: left;
}

div.retangles8 {
	width: 25%;
	height: 100px;
	background: grey;
	display: inline-block;
  	float: left;
}

div.ContainerOfLists {
	clear: both;
	display: flex;
	justify-content:center;
}

div.Songs {
	margin-top:20px;
	margin-top: 1.42857143rem;
	background-color:yellow;
	width: 200 px;
	width: 14.28571429rem;
	height: 150 px;
	height: 10.71428571rem;
	padding: 20px;
	padding: 1.42857143rem;


}

div.Connected {
	margin-top:20px;
	margin-top: 1.42857143rem;
	background-color:blue;
	width: 200 px;
	width: 14.28571429rem;
	height: 150 px;
	height: 10.71428571rem;
	padding: 20px;
	padding: 1.42857143rem;
}

ul li:nth-child(2n+2){
	background-color:green;
}

ol li:nth-child(2n+2){
	background-color:yellow;
}

ul li {
	font-weight:bold;
}

ol li {
	font-style:italic;
}

div.Table {
	clear:both;
	margin: 50px 200px 200px 450px;

}

caption{
	background-color:yellow;
	margin-bottom:10px;
	margin-bottom:0.71428571rem;
}

table, th, td {
border: 1px solid black;
}

tr.secondRow {
	color: red;
}

tr:nth-child(odd) {
    background-color: #505050;
}

tr:nth-child(4n+4) {
    background-color: #A8A8A8;
}



a {
 	text-decoration:none;
	color:blue;
	text-align:center;
}

a:hover {
	text-decoration:underLine;
}

a:visited {
	text-decoration: overLine;
	color:blue;
}


